<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<style>

	body{
		background-color: #071e3d;
	}

	input{
		width: 80%;
		padding: 6px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}



	.center-column{
		width:500px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}





}


</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <div class="center-column">
    <form method="post" action="">
        {%csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success btn-sm" name="update_task" >

    </form>
        </div>
</head>
<body>

</body>
</html>